body{
  background-color: beige ;
}
nav {
  padding: 2rem;
}
.nav-link{
  padding: 2rem;
  color:#DE9078;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration:none;
}
.home-link{
  background-color:#4A87A1;
  border-color: seashell;
  color: white;
  text-decoration: none;
  padding:15px 45px;
  margin: 1rem;
  display: inline-flex;
  border-radius: 10px;
  font-size: 30px;
}
.all-campuses {
  color: darkblue;
  float: right;
  width: 75%;
  padding: 0 10px;
  display:inline-block;
}
.per-campus{
  border: 2px solid darkred;
  padding: 20px;
  margin: 20px;
  background-color: rgb(241, 213, 151)
}


.add-campus {
  border: 2px solid teal;
  padding: 20px;
  margin: 20px;
  align-items: start;
  background-color: white;
}

.forms{
  border: 2px solid teal;
  padding: 20px;
  margin: 20px;
  background-color: white;
}
